body {
    padding-bottom: 20px;
    padding-top: 50px;
}

footer {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    margin-right: 8px;
    padding: 7px;
    width: auto;
}

.indeterminate-progress-label {
    color: #fff;
    float: left;
    font-weight: bold;
    height: 100%;
    position: absolute;
    text-shadow: 1px 1px 0 #000;
    top: 4px;
    width: 100%;
}

.progress-label {
    font-weight: bold;
    left: 50%;
    position: absolute;
    text-shadow: 1px 1px 0 #fff;
    top: 4px;
}

.progressbar {
    position: relative;
    text-align: center;
}

.errorText {
    color: red;
    font-size: 14pt;    
}

.successText { color: green; }

.progress-success { background-color: #CF9; }

.progress-failure { background-color: #F03; }