@{
    ViewBag.Title = "Admin";
}

<div class="jumbotron">
<h1>Admin Home</h1>
<p class="lead">Welcome UNF Administrator</p>

</div>

<div align ="center" class="row">
    <div align="center" class="col-md-4">

        <p class="lead">Click on the button below to go to the Event Creator</p>
        <p>
            <a class="btn btn-primary btn-lg" @Html.ActionLink("Event Creator", "CreateEventForm", "Event")</a>
        </p>

    </div>

</div>

