@{
    ViewBag.Title = "Admin";
}

<div class="jumbotron">
<h1>Admin Home</h1>
<p class="lead">Welcome UNF Administrator</p>

</div>

<div class="row">
    <div class="col-md-4">

        <p class="lead">Click on the button below to sign up</p>
        <p>
            <a class="btn btn-primary btn-lg" @Html.ActionLink("Sign Up", "Index", "StudentCreator")</a>
        </p>

    </div>

</div>

