@{
    ViewBag.Title = "Admin";
}
<!DOCTYPE html>
<meta charset="utf-8">

<body>
<div class="jumbotron">
    <p class="lead">Welcome UNF Administrator</p>
    <p class="lead">Number of constituents in system: @ViewBag.Count</p>
    <p class="lead">Number of constituents updated in past year: @ViewBag.SinceCount</p>
    <p> @Html.ActionLink("Purge All Data", "PurgeData", "Home", new { @class = "btn btn-primary btn-sm" })</p>

</div>
<div id="dashboard">
</div>