@model CollegeConnected.Models.Constituent

@{
    ViewBag.Title = "Confirm";
}

<h2>Verify your information is correct and click Save</h2>

@Html.Partial("ConfirmStudentPartial")

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>