@model CollegeConnected.Models.Constituent

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Constituent</h2>

@Html.Partial("ConfirmStudentPartial")


<div>
    @Html.ActionLink("Back to Constituents", "Index")
</div>