@using GridMvc.Html
@model List<CollegeConnected.Models.Student>
@{
    ViewBag.Title = "Details";
}
@{
    Layout = null;
}

<h2>Details</h2>

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.StudentNumber).Titled("N Number").Filterable(true);
        columns.Add(c => c.FirstName).Titled("First Name").Filterable(true);
        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new {id = o.StudentNumber}));
    }).WithPaging(10).Sortable(true)
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>