@using GridMvc.Html
@model IEnumerable<CollegeConnected.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Constituents</h2>
<p> @Html.ActionLink("Export Constituent Data", "ExportToCsv", "Students", new {@class = "btn btn-primary btn-sm"})</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(model => model.ConstituentType).Titled("Constituent Type").Sortable(true).SetWidth(200).Filterable(true);
    columns.Add(model => model.FirstName).Titled("First Name").Filterable(true).Sortable(true).SetWidth(150);
    columns.Add(model => model.LastName).Titled("Last Name").Filterable(true).Sortable(true).SetWidth(110);
    columns.Add(model => model.PhoneNumber).Titled("Phone").Filterable(true).Sortable(true).SetWidth(110);
    columns.Add(model => model.Email).Titled("Email").Filterable(true).Sortable(true).SetWidth(200);
    columns.Add(model => model.State).Titled("State").Filterable(true).Sortable(true).SetWidth(110);
    columns.Add(model => model.GraduationYear).Titled("Graduation Year").Filterable(true).Sortable(true).SetWidth(100);
                      columns.Add(model => model.AllowCommunication).Titled("Allow Communication").Filterable(true).Sortable(true).SetWidth(30);
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(model => Html.ActionLink("Edit", "Edit", "Students", new {id = model.StudentId}, new {@class = "btn btn-primary btn-sm"}));
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(model => Html.ActionLink("Delete", "Delete", "Students", new {id = model.StudentId}, new {@class = "btn btn-primary btn-sm"}));
}).WithPaging(15)