@using GridMvc.Html
@model IEnumerable<CollegeConnected.Models.Event>
<script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>
<p>    @Html.ActionLink("Create New Event", "CreateEvent", "Events", new { @class = "btn btn-primary btn-sm" })</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(model => model.EventDate).Titled("Date").Filterable(true).Sortable(true).SetWidth(200);
    columns.Add(model => model.EventLocation).Titled("Location").Filterable(true).Sortable(true).SetWidth(200);
    columns.Add(model => model.EventStatus).Titled("Status").Filterable(true).Sortable(true).SetWidth(200);
}

)