@model CollegeConnected.Models.User
            @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + Html.LabelFor(model => model.Name) + "!", "Logout", "Account")
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Administrator Login", "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>
}