@using CollegeConnected.Models
@using GridMvc.Html
@model IEnumerable<CollegeConnected.Models.Student>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var eventID = ViewContext.RouteData.Values["id"];
}

<div class="jumbotron">
    <h2>College Connected</h2>
    <table align="center">
        @using (Html.BeginForm())
            {
            @Html.ValidationSummary()
            <tr>
                <td>
                    <h4>Enter your N number:</h4>
                </td>
            </tr>
                <tr>
                    <td>
                        <p>@Html.TextBox("studentNumber")</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>OR</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Enter your last name:</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>@Html.TextBox("studentLastName")</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Search</button>
                    </td>
                </tr>
        }
    </table>
</div>

<h2>Results</h2>
@Html.Grid(Model).Columns(columns =>
{
    columns.Add(model => model.StudentNumber).Titled("Student Number").SetWidth(200);
    columns.Add(model => model.FirstName).Titled("First Name").SetWidth(150);
    columns.Add(model => model.LastName).Titled("Last Name").SetWidth(110);
    columns.Add(model => model.GraduationYear).Titled("Graduation Year").SetWidth(100);
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(model => Html.ActionLink("This is Me", "Confirm", "Events", new { id = model.StudentId, eventId = eventID }, new { @class = "btn btn-primary btn-sm" }));
}).WithPaging(15)
